body {
  background: #f4f4f4;
  margin: 0px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v15-latin-regular.eot'); 
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/roboto-v15-latin-regular.woff2') format('woff2'), 
       url('fonts/roboto-v15-latin-regular.woff') format('woff'), 
       url('fonts/roboto-v15-latin-regular.ttf') format('truetype'), 
       url('fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); 
}
html {
  font-family: 'Roboto';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Panal costom css */
.ui-panelmenu .ui-panelmenu-header {
  border: 1px solid #3E474B;
  background: #313B3F;
  font-weight: normal;
  color: #889597;
}

.ui-panelmenu .ui-panelmenu-header:hover {
  background: #20272A;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #889597;
    text-decoration: none;
}

/*.ui-panelmenu .ui-panelmenu-header.ui-state-active, .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  border-color: #3E474B;
  background: #20272A;
  color: #889597;
  border-bottom: none;
}

.ui-panelmenu .ui-panelmenu-content {
    padding: .2em 0;
    border-top: 0;
    overflow: auto;
    zoom: 1;
    outline: 0;
    margin-bottom: 1px;
    background: #20272A;
    border-color: #3E474B;
    border-bottom: none;
    color: #889597;
}

.ui-panelmenu .ui-menuitem-link {
    display: block;
    outline: 0;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.8em;
    border: solid 1px transparent;
    line-height: 16px;
    cursor: pointer;
    position: relative;
    padding: .3em .3em .3em 2em;
    color: #84B9CB;
}

.ui-panelmenu .ui-menuitem-link:hover {
  background: #101517;
  border-radius: 3px; 
} */

.required-message {
  background-color: none;
  color: red;
}

.table-center {
  text-align: center;
}

/* You can add global styles to this file, and also import other style files */

body .ui-panelmenu .ui-panelmenu-header{
    background-color:#313B3F;
}

body .ui-panelmenu .ui-panelmenu-header a {
    color: #889597;
}

body .ui-panelmenu .ui-panelmenu-header a:hover {
    color: #889597;
    background-color: #20282B;
}

body .ui-panelmenu .ui-panelmenu-panel {
    border:none;
}

body .ui-panelmenu .ui-panelmenu-panel:last-child {
    border-bottom: none;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active {
    background-color: #202729;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-hover .fa {
    color: #767b7f;
}

/*body .ui-widget-content {
    background-color: none;
    border: 1px solid #3E474B;
}*/