<p-panel header="เพิ่มผู้ใช้งาน">
    <form #createStaffForm="ngForm">
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="staffName">Staff Name:</label>
                <br/>
                <input id="staffName" style="width:100%" type="text" pInputText [(ngModel)]="staff.staffName" 
                    name="staffName" #staffName="ngModel" required />
            </div>
            <div class="ui-g-8">
                <br/>
                <div class="required-message" [hidden]="staffName.valid || staffName.pristine">
                    <i class="fa fa-close"></i>
                    Staff name is required
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="staffLastName">Staff Last Name:</label>
                <br/>
                <input id="staffLastName" style="width:100%" type="text" pInputText [(ngModel)]="staff.staffLastName" 
                    name="staffLastName" #staffLastName="ngModel" required />
            </div>
            <div class="ui-g-8">
                <br/>
                <div class="required-message" [hidden]="staffLastName.valid || staffLastName.pristine">
                    <i class="fa fa-close"></i>
                    Staff lastname is required
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="staffUserName">User Name:</label>
                <br/>
                <input id="staffUserName" style="width:100%" type="text" pInputText [(ngModel)]="staff.staffUserName" 
                    name="staffUserName" #staffUserName="ngModel" required />
            </div>
            <div class="ui-g-8">
                <br/>
                <div class="required-message" [hidden]="staffUserName.valid || staffUserName.pristine">
                    <i class="fa fa-close"></i>
                    User name is required
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="staffPassword">User Password:</label>
                <br/>
                <input class="form-control" id="staffPassword" style="width:100%" type="password" pPassword [(ngModel)]="staff.staffPassword" 
                    name="staffPassword" #staffPassword="ngModel" required minlength="4" maxlength="20" />
            </div>
            <div class="ui-g-8">
                <br/>
                <div *ngIf="staffPassword.errors && (staffPassword.dirty || staffPassword.touched)"
                    class="required-message">
                    <div [hidden]="!staffPassword.errors.required">
                        <i class="fa fa-close"></i>
                        Password is required
                    </div>
                    <div [hidden]="!staffPassword.errors.minlength">
                        <i class="fa fa-close"></i>
                        Password must be at least 4 characters long.
                    </div>
                    <div [hidden]="!staffPassword.errors.maxlength">
                        <i class="fa fa-close"></i>
                        Password cannot be more than 20 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <button id="saveStaff" pButton type="button" label="Save" 
                [disabled]="createStaffForm.form.invalid" (click)="saveStaff()">
                </button>
            </div>
        </div>
    </form>
</p-panel>

<p-growl [value]="msgs"></p-growl>
